<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>requestDetail</title>
    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="/static/css/pagination.css" rel="stylesheet"/>
    <link href="/static/css/requestDetail.css" rel="stylesheet"/>
    <link href="/static/css/navfooter.css" rel="stylesheet"/>
</head>
<script th:inline="javascript">
$(window).on('load', function() {
    $('#check').on('click', function() {
        const seq = [[${Wanted.seq}]];

        // AJAX 요청 보내기
        $.ajax({
            url: '/checkOffer',
            type: 'post',
            data: { "seq": seq },
            success: function(data) {
                if (data === true) {
                     window.location.href = '/writeOffer/' + seq;
                } else {
                    // false 값에 대한 처리
                    alert('이미 작성한 제안서가 있습니다.');
                    console.log('이미 작성한 제안서가 있습니다.');
                    event.preventDefault();
                }
            },
            error: function() {
                // AJAX 요청 실패 시 처리
                console.log('AJAX 요청이 실패하였습니다.');
            }
        });
    });
});
</script>
<body>
<!-- 네비게이션 -->
<div th:replace="header.html"></div>
<!-- 헤더 -->
<header class="masthead-show3" style="background-image: url('/static/image/reservationdetial.png');">
    <div class="container">
        <div class="masthead-heading3">예약 확인</div>
        <div class="masthead-subheading3"></div>
    </div>
</header>

<div class="container">
    <div class="row">
        <!-- 고객 요청 정보 -->
        <div class="col-lg-6 request-info">
            <div class="img-grid">
                <!-- 이미지 div들을 이 곳에 위치시킵니다 -->
                <div><img th:src="@{|/uploads/${Wanted.original_img_path}|}" alt=""
                          style="width: 300px; height: 300px;"></div>
                <div th:if="${Wanted.al_img_path != null}">
                    <img th:src="@{|/uploads/${Wanted.al_img_path}|}" alt="" style="width: 300px; height: 300px;">
                </div>
            </div>
            <div class="basic-info">
                <!-- 기본 정보를 이 곳에 위치시킵니다 -->
                <ul>
                    <h4>기본정보</h4>
                    <li>이름: <span th:text="${Wanted.customer_name}"></span></li>
                    <li>번호: <span th:text="${Wanted.phone_num}"></span></li>
                    <li>주소: <span th:text="${Wanted.address}" id="address"></span></li>
                    <li>이메일: <span th:text="${Wanted.email}"></span></li>
                    <li>성별: <span th:text="${Wanted.gender}"></span></li>
                </ul>
            </div>
            <div class="additional-info">
                <!-- 추가 정보를 이 곳에 위치시킵니다 -->
                <ul>
                    <h4>추가정보</h4>
                    <li>머리길이: <span
                            th:text="${Wanted.hair_length == 1 ? '단발' : (Wanted.hair_length == 2 ? '중간' : '장발')}"></span>
                    </li>
                    <li>두상: <span th:text="${Wanted.head_shape}"></span></li>
                    <li>모발상태: <span
                            th:text="${Wanted.hair_condition == 1 ? '나쁨' : (Wanted.hair_condition == 2 ? '보통' : '좋음')}"></span>
                    </li>
                    <li>염색횟수: <span
                            th:text="${Wanted.dye_times == 0 ? '없음' : (Wanted.dye_times == 1 ? '1회' : (Wanted.dye_times == 2 ? '2회' : '3회'))}"></span>
                    </li>
                    <li>펌 횟수: <span
                            th:text="${Wanted.perm_times == 0 ? '없음' : (Wanted.perm_times == 1 ? '1회' : (Wanted.perm_times == 2 ? '2회' : '3회'))}"></span>
                    </li>
                </ul>
            </div>
            <!-- 고객 요청 사항 -->
            <div class="request-content">
                <div><h4>요청사항</h4><span th:text="${Wanted.content}"></span></div>
                <!-- 원하는 예약 날짜 및 시간 -->
                <div class="date">
                    <h4>원하는 시간대</h4>
                    <span th:text="${Wanted.available_date}"></span>
                    <span th:text="${Wanted.start_hour}"></span>: <span th:text="${Wanted.start_minute}"></span> ~
                    <span th:text="${Wanted.end_hour}"></span>: <span th:text="${Wanted.end_minute}"></span>
                </div>
            </div>
            <!--신청 버튼-->
            <div class="submit-button" th:if="${session.membertype == 2}">
                <a class="submit-link" th:href="@{/writeOffer/{seq}(seq=${Wanted.seq})}" id="check" onclick="return false">신청</a>
            </div>
        </div>
        <!-- 디자이너 제안 정보 -->
        <div class="col-lg-6 proposal-info">
            <div th:if="${Wanted.reservation == 0}">
                <div class="proposal-container" th:each="proposal: ${offers}">
                    <!-- 디자이너 제안을 이 곳에 위치시킵니다 -->
                    <div class="proposal">
                        <a th:href="@{/viewOffer/{seq}(seq=${proposal.seq})}" class="proposal-link">
                            <div class="proposal-content">
                                <div class="proposal-img">
                                    <img th:src="@{|/uploads/${proposal.photo_path}|}" alt="Designer image" id="designerImage">
                                </div>
                                <div class="info-container">
                                    <div class="name-rating">
                                        <span th:text="${proposal.name}" id="designerName">디자이너 이름</span>
                                        <div class="rate">
                                            <span class="rating">
                                                <span class="stars" th:class="${proposal.avg > 0 && proposal.avg < 1 ? 'star-half' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg >= 1 ? 'star-full' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg > 1 && proposal.avg < 2 ? 'star-half' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg >= 2 ? 'star-full' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg > 2 && proposal.avg < 3 ? 'star-half' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg >= 3 ? 'star-full' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg > 3 && proposal.avg < 4 ? 'star-half' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg >= 4 ? 'star-full' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg > 4 && proposal.avg < 5 ? 'star-half' : ''}"></span>
                                                <span class="stars" th:class="${proposal.avg >= 5 ? 'star-full' : ''}"></span>
                                            </span>
                                            <span class="rating-label" th:text="'(' + ${proposal.avg} + ')'"></span>
                                        </div>
                                    </div>
                                    <div class="price-time">
                                        <span th:text="'가격 : '+${proposal.price}" id="price">가격: 50000원</span>
                                        <div id="time">
                                            <span th:text="'시간 : '+${proposal.date}"></span> <span th:text="${proposal.hour}"></span>시
                                            <span th:text="${proposal.minute}"></span>분
                                        </div>
                                    </div>
                                    <div th:text="'주소: ' + ${proposal.address}" id="designerAddress" class="designer-address"></div>
                                    <div class="review">
                                        후기: <span th:text="${proposal.review}"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- ----------------------------------------------------------------------------------->
                <div class="page_wrap">
                    <div class="page_nation" th:with="prevpage=${vpage-1}, nextpage=${vpage+1}">
                        <a class="arrow pprev" href="#"></a>
                        <a th:if="${prevpage >= 1}"
                           th:href="@{/WantedDetail/{seq}(seq=${Wanted.seq},vpage=${prevpage})}"
                           class="arrow prev"></a>
                        <span th:if="${vpage > 10}">
                                <a th:href="@{/WantedDetail/{seq}(seq=${Wanted.seq},vpage=1)}">
                                    <span>1</span>
                                </a>
                                <span>...</span>
                            </span>
                        <div th:with="start=1, end=ListSize">
                                <span th:each="i : ${#numbers.sequence(1, ListSize)}" th:if="${i <= ListSize}">
                                    <a th:if="${i == vpage}" th:text="${i}"></a>
                                    <a th:if="${i != vpage}" th:href="@{/WantedDetail/{seq}(seq=${Wanted.seq},vpage=${i})}">
                                        <span th:text="${i}"></span>
                                    </a>
                                </span>
                        </div>
                        <span th:if="${vpage < ListSize - 9}">
                                <span>...</span>
                            <a th:href="@{/WantedDetail/{seq}(seq=${Wanted.seq},vpage=${ListSize})}"><span th:text="${ListSize}"></span></a>
                            </span>
                        <a th:if="${nextpage <= ListSize}"
                           th:href="@{/WantedDetail/{seq}(seq=${Wanted.seq},vpage=${nextpage})}"
                           class="arrow next"></a>
                        <a class="arrow nnext" href="#"></a>
                    </div>
                </div>
            </div>
            <div th:if="${Wanted.reservation == 1}">
                <div class="proposal-container2">
                    <!--디자이너 사진, 기본정보-->
                    <div class="flex-container">
                        <div><img th:src="@{|/uploads/${designer.photo_path}|}" alt="Image 2"></div>
                        <div class="wide">
                            <!-- 디자이너 이름 -->
                            <div class="form-group">
                                <span>이름</span>
                                <span th:text="${designer.name}"></span>
                            </div>

                            <!-- 별점 -->
                            <div class="form-group">
                                <span>별점</span>
                                <div class="rate">
                                    <span class="rating">
                                        <span class="stars" th:class="${designer.point/designer.point_count > 0 && designer.point/designer.point_count < 1 ? 'star-half' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count >= 1 ? 'star-full' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count > 1 && designer.point/designer.point_count < 2 ? 'star-half' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count >= 2 ? 'star-full' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count > 2 && designer.point/designer.point_count < 3 ? 'star-half' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count >= 3 ? 'star-full' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count > 3 && designer.point/designer.point_count < 4 ? 'star-half' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count >= 4 ? 'star-full' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count > 4 && designer.point/designer.point_count < 5 ? 'star-half' : ''}"></span>
                                        <span class="stars" th:class="${designer.point/designer.point_count >= 5 ? 'star-full' : ''}"></span>
                                    </span>
                                    <span class="rating-label" th:text="'(' + ${designer.point/designer.point_count} + ')'"></span>

                                        <span th:if="${designer.point_count == 0}">0.0</span>
                                        <span th:unless="${designer.point_count == 0}" th:text="'(' + ${designer.point/designer.point_count} + ')'"></span>

                                </div>
                            </div>

                            <!-- 가격 -->
                            <div class="form-group">
                                <span>가격</span>
                                <span th:text="${offer.price}"></span>
                            </div>

                            <!-- 시간 -->
                            <div class="form-group">
                                <span>시간</span>
                                <span th:text="|${offer.hour}:${offer.minute}|"></span>
                            </div>

                            <!--미용실 위치,번호-->
                            <div class="form-group">
                                <span>위치</span>
                                <span th:text="${designer.address}" class="form-control"></span>
                            </div>

                            <div class="form-group">
                                <span>번호</span>
                                <span th:text="${designer.phone_num}" class="form-control"></span>
                            </div>

                            <!-- 후기 -> 없을 경우, "후기가 없습니다." 출력
                                            있을 경우, 후기 갯수만큼 출력 -> 상의 후, 필요할 경우 수정 -->
                            <div th:if="${reviews == null or reviews.size() == 0}" class="form-group">
                                <tr>
                                    <td colspan="2"><strong>후기가 없습니다.</strong></td>
                                </tr>
                            </div>
                            <div class="form-group">
                                후기
                                <div th:each="review : ${reviews}" class="review-item">
                                    <span th:text="${review.content}"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--시술 타입-->
                    <div class="flex-container">
                        시술 타입:
                        <input type="checkbox" th:checked="${offer.is_cut == 1}" disabled>컷
                        <input type="checkbox" th:checked="${offer.is_perm == 1}" disabled>펌
                        <input type="checkbox" th:checked="${offer.is_dye == 1}" disabled>염색
                        <input type="checkbox" th:checked="${offer.is_dry == 1}" disabled>드라이
                    </div>

                    <!--시술내용 및 소요시간-->
                    <div class="flex-container2">
                        <div><label for="procedure">시술 및 비용에<br> 대한 상세 설명</label></div>
                        <div class="wide"><textarea id="procedure" class="form-control" placeholder="상세설명" th:text="${offer.detail}"
                                                    readonly></textarea></div>
                    </div>
                    <!--디자이너 코멘트-->
                    <div class="flex-container2">
                        <div><label for="comment">제공할 수 있는<br> 서비스</label></div>
                        <div class="wide"><textarea id="comment" class="form-control" placeholder="서비스" th:text="${offer.service}"
                                                    readonly></textarea></div>
                    </div>

                    <!-- 경력 -->
                    <div class="flex-container2">
                        <div><label for="career">경력</label></div>
                        <div class="wide"><textarea id="career" class="form-control inputData" th:text="${designer.career}" readonly
                                                    name="career"></textarea></div>
                    </div>

                    <!--포트폴리오 사진들-->
                    <div class="form-group">
                        <!-- 포폴 나오는 부분 확인 좀 해줘야할듯?-->
                        <div class="slider">
                            <th:block th:each="portfolio : ${portfolios}">
                                <div class="portfolio-container">
                                    <img th:src="@{|/uploads/${portfolio.photo_path}|}" alt="">
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 지도를 표시할 div 요소 -->
    <div id="map" style="width:100%; height:400px; margin-top:30px;"></div>
</div>

<!-- 푸터 -->
<div th:replace="footer.html"></div>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6c81eb6e1286ab634cc1ef62b3da91ea&libraries=services&autoload=false"></script>
<script>
    kakao.maps.load(function() {
        function initMap() {
            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 6
            };
            var map = new kakao.maps.Map(container, options);

            var geocoder = new kakao.maps.services.Geocoder();

            var customerAddress = document.getElementById('address').textContent;
            var designerAddresses = Array.from(document.getElementsByClassName('designer-address')).map(function(element) {
                return element.textContent.replace('주소: ', '');
            });

            // 마커 이미지의 주소
            var customerImageUrl = '/static/image/customermaker.png',
                customerImageSize = new kakao.maps.Size(40, 43); // 마커 이미지의 크기

            // 마커 이미지를 생성한다
            var customerImage = new kakao.maps.MarkerImage(customerImageUrl, customerImageSize);

            var designerElements = document.getElementsByClassName('proposal'); // 디자이너 요소들

            geocoder.addressSearch(customerAddress, function(customerResult, customerStatus) {
                if (customerStatus === kakao.maps.services.Status.OK) {
                    var customerCoords = new kakao.maps.LatLng(customerResult[0].y, customerResult[0].x);

                    var customerMarker = new kakao.maps.Marker({
                        position: customerCoords,
                        map: map,
                        image: customerImage
                    });

                    map.setCenter(customerCoords);

                    // 각 디자이너 처리
                    for (var i = 0; i < designerAddresses.length; i++) {
                        var designerAddress = designerAddresses[i];
                        var designerElement = designerElements[i];
                        var designerImageSrc = designerElement.querySelector('.proposal-img img').getAttribute('src');
                        var designerName = designerElement.querySelector('.proposal-content .name-rating #designerName').innerText;
                        var designerPrice = designerElement.querySelector('.price-time #price').innerText;
                        var designerTime = designerElement.querySelector('#time').innerText;
                        var designerReview = designerElement.querySelector('.review span').innerText;

                        (function(address, imageSrc, name, price, time, review) {
                            geocoder.addressSearch(address, function(designerResult, designerStatus) {
                                if (designerStatus === kakao.maps.services.Status.OK) {
                                    var designerCoords = new kakao.maps.LatLng(designerResult[0].y, designerResult[0].x);

                                    var designerMarker = new kakao.maps.Marker({
                                        position: designerCoords,
                                        map: map
                                    });

                                    var infoWindowContent = '<div class="info-window">' +
                                        '<div class="info-window-image-container">' +
                                        '<img src="' + imageSrc + '" alt="Designer image" class="info-window-image">' +
                                        '</div>' +
                                        '<div class="info-window-details">' +
                                        '<span class="info-window-name">' + name + '</span>' +
                                        '<span class="info-window-price">' + price + '</span>' +
                                        '<span class="info-window-time">' + time + '</span>' +
                                        '<span class="info-window-review">' + review + '</span>' +
                                        '</div>' +
                                        '</div>';

                                    var infowindow = new kakao.maps.InfoWindow({
                                        removable: true, // 닫기 버튼 추가
                                        content: infoWindowContent,
                                        map: null, // 초기에는 정보창이 닫힌 상태로 시작
                                        position: designerCoords
                                    });

                                    kakao.maps.event.addListener(designerMarker, 'click', function() {
                                        if (infowindow.getMap()) {
                                            infowindow.close();
                                        } else {
                                            infowindow.open(map, designerMarker);
                                        }
                                    });
                                }
                            });
                        })(designerAddress, designerImageSrc, designerName, designerPrice, designerTime, designerReview);
                    }
                }
            });

            // 지도 타입 컨트롤 생성 및 추가
            var mapTypeControl = new kakao.maps.MapTypeControl();
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

            // 줌 컨트롤 생성 및 추가
            var zoomControl = new kakao.maps.ZoomControl();
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
        }

        function closeInfoWindow() {
            var infowindows = kakao.maps.InfoWindow.getAll();

            for (var i = 0; i < infowindows.length; i++) {
                infowindows[i].close();
            }
        }

        initMap(); // initMap 함수를 호출하여 지도를 초기화합니다.
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>
